/*公用样式*/
body{padding:0px;margin:0px auto;background-color: #fff;}
a{text-decoration:none;}
p,ul,h1,h2,h3,h4{paddding:0;margin:0;}
li{list-style:none;}
#app {font-family: Arial, Helvetica, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-align: left;color: #2c3e50;}
/* 设置滚动条的样式 */
::-webkit-scrollbar {width: 8px;}
/* 滚动槽 */
::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);border-radius: 8px;}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb { border-radius: 8px; background: rgba(206,206,206,0.1);-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);}
.hidden{display: none;}
.unUseStatus{font-size: 12px;color:#ff6d6d;}
.textRight{text-align: right;}
.searchTitle{margin: 8px;color: #999;font-size: 13px}
.mustStar>label:before{content: '*';color: #ff4949;margin-right: 4px;}
.el-pagination__jump{color:#20a0ff;cursor: pointer;}
.notify{z-index: 9999!important}
.notify .notify-alert h2.notice-title{box-sizing: border-box;}
.title{border-bottom: 1px solid #efefef;height: 40px ;line-height: 40px;margin-bottom: 30px;font-size: 14px;color: #97a8be;font-weight: bold;}
.searchTool{overflow: hidden;}
.searchTool .el-button+.el-button{margin: 2px 0 0 6px}
.searchItem{float: left;margin-right: 12px }
.searchItem .el-input{width: auto}
.el-checkbox{margin-right: 10px}
.el-checkbox+.el-checkbox{margin-left: 0}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{-webkit-appearance: none !important;margin: 0; }
input[type="number"]{-moz-appearance:textfield;}
button.indexFunBtn{margin: 8px 8px 8px 0 !important}
.submitRight{text-align: right;margin:16px auto;}
.submitRightNoM{text-align: right;}
.tool{text-align: right;margin-bottom: 20px;}
/*.el-button+.el-button{margin : 8px 0 8px 12px;}*/
.detail-addr-top{margin-top: 18px}
.right-container{min-width: 1100px}
.el-input{min-width: 100px!important}
.content-rowspan div{padding-left: 18px; margin:auto -18px;line-height: 46px;border-bottom: 1px solid #ECEDEE}
.content-rowspan div:last-child {border-bottom: 0}
.border-RB-none{border-right: 0;border-bottom: 0}
.content-container{width: 800px}
.avatar-uploader .el-upload {border: 1px dashed #bfcbd9;border-radius: 6px;cursor: pointer;position: relative;overflow: hidden;}
.avatar-uploader .el-upload:hover {border-color: #20a0ff;}
.avatar-uploader-icon {font-size: 28px;color: #8c939d;width: 128px;height: 128px;line-height: 128px;text-align: center;}
.avatar {width: 128px;height: 128px;display: block;}
.pic img{width: 128px}
.pagination{text-align: right;margin: 20px 0}

.hjx-fl{float: left}
.hjx-fr{float: right}
.hjx-clear{clear: both}
.hjx-center{text-align: center}
/*字体大小配置*/
.hjx-ft12{font-size: 12px}
.hjx-ft13{font-size: 13px}
.hjx-ft14{font-size: 14px}
.hjx-ft15{font-size: 15px}
.hjx-ft16{font-size: 16px}
/*颜色配置*/
.hjx-black{color:#1F2D3D}
.hjx-lightblack{color:#324057}
.hjx-blue{color:#409EFF}
.hjx-danger{color:#FA5555}
.hjx-info{color:#878D99}
.hjx-success{color:#67C23A}
.hjx-warning{color:#EB9E05}
/**/
.hjx-overflow{overflow: hidden;}
/*警告条*/
.hjx-alert{width: 100%;padding: 8px 16px;font-size: 13px;line-height: 18px;margin: 0;box-sizing: border-box;border-radius: 4px;position: relative;background-color: #fff;overflow: hidden;color: #fff;opacity: 1;display: table;transition: opacity .2s;}
.hjx-alert-warning {background-color: oldlace}
